@use "../abstracts/variables/index" as *;

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
}

html, body{
    background-color: map-get($theme-colors, "dark" );
    color: black;
}