/* Navbar----------------------------------------------------------------------- */

.header{
    display: flex;
    justify-content: space-between;
    // padding: 30px;
    margin: 40px;

    &__brand{
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
    }

    &__brand h2 a{
        color: $button-color;
        font-size: 40px;
        font-family: $font-raleway;
        letter-spacing: 3px;
        font-weight: 500;
    }

    &__menus{
        display: flex;
        // gap: 20px;
        list-style-type: none;

    }


    &__link{
        text-decoration: none;
        margin-right: 30px;
        font-size: 20px;
        font-family: $font-roboto;
        padding: 4px 8px;

        
        &.active{
            color: #fff;
            background-color: $button-color;
            // padding: 5px;
            border-radius: 7px;
        }

        &.active a{
            color: #fff;
        }
    }
}
