@use "../abstracts/variables/index" as *;

/*Alert boxes */
.alert{
    font-family: $font-cmd;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0;

    &__cmdBox{
        background-color: rgba(3, 3, 3, 0.7);
        border-radius: 15px;
        display: inline-block;
        padding: 5px 15px;
        margin-top: 5px;
        margin-bottom: 5px;

        &__text{
            color: #fff;
            font-size: 13px;
            font-weight:100;
        }
    }
    
    &-warning{
        border: 2px solid orange;
         background-color: rgba(255, 217, 147, 0.5);
    }

    &-danger{
        @extend .alert;
        border: 2px solid red;
         background-color: rgba(255, 199, 199, 0.5);
    }

}

    
.alert-danger{
    @extend .alert;
    border: 2px solid red;
     background-color: rgba(255, 199, 199, 0.5);
}

