.smart-noti-bar{
    background-color: rgba(175, 175, 175, 0.5);
    padding: 10px 15px;
    border-radius: 10px;
    margin: 20px 0;

    &__text{

        $text-limit: 3;
        font-weight: 500;

        @if $text-limit <= 3{
            color: red;
        } @else if $text-limit >3 and $text-limit <=6 {
            color: rgb(247, 137, 11);
        } @else {
            color: blue;
        }
    }
}