@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@400;700;900&family=Source+Code+Pro:ital,wght@0,200;0,300;1,200&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

html, body {
  background-color: pink;
  color: black;
}

/* Navbar----------------------------------------------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  margin: 40px;
}
.header__brand {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.header__brand h2 a {
  color: rgb(247, 66, 156);
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
}
.header__menus {
  display: flex;
  list-style-type: none;
}
.header__link {
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding: 4px 8px;
}
.header__link.active {
  color: #fff;
  background-color: rgb(247, 66, 156);
  border-radius: 7px;
}
.header__link.active a {
  color: #fff;
}

/* Welcome Card------------------------------------------------------------------*/
.welcome-card {
  background-color: #fff;
  padding: 30px;
  margin: 40px;
  border-radius: 10px;
}
.welcome-card__heading {
  margin-top: 50px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.welcome-card__desc {
  color: rgb(83, 82, 82);
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
}
.welcome-card__desc span {
  color: rgb(255, 32, 144);
  font-weight: 700;
}

.btn-default {
  color: #000;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn-pink {
  color: #fff;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(247, 66, 156);
}
.btn-primary {
  color: #fff;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: dodgerblue;
}
.btn-success {
  color: #fff;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: lightseagreen;
}
.btn-dark {
  color: #fff;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: black;
}

/*Alert boxes */
.alert, .alert-danger {
  font-family: "Source+Code+Pro", sans-serif;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0;
}
.alert__cmdBox {
  background-color: rgba(3, 3, 3, 0.7);
  border-radius: 15px;
  display: inline-block;
  padding: 5px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.alert__cmdBox__text {
  color: #fff;
  font-size: 13px;
  font-weight: 100;
}
.alert-warning {
  border: 2px solid orange;
  background-color: rgba(255, 217, 147, 0.5);
}

.alert-danger {
  border: 2px solid red;
  background-color: rgba(255, 199, 199, 0.5);
}

.smart-noti-bar {
  background-color: rgba(175, 175, 175, 0.5);
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px 0;
}
.smart-noti-bar__text {
  font-weight: 500;
  color: red;
}

.profile-card {
  background-color: #fff;
  padding: 30px;
  margin: 40px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
}
.profile-card__pic img {
  width: 100px;
  height: 100px;
}

.squre-av {
  width: 100px;
  height: 100px;
}

.cicrcle-av {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

/*# sourceMappingURL=main.css.map */
