/* Welcome Card------------------------------------------------------------------*/
@use "../abstracts/variables/index" as *;

.welcome-card{
    background-color: #fff;
    padding: 30px;
    margin: 40px;
    border-radius: 10px;

    &__heading{
        font-size: 20px;
        font-family: $font-roboto;
    }

    &__desc{
        color: rgb(83, 82, 82);
        margin-top: 10px;
        font-family: $font-raleway;
    }

    &__desc span{
        color: $sass-text-color;
        font-weight: 700;
    }

    &__btn{
        color: white;
        margin-top: 20px;
        background-color: $button-color;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
    }
}